@charset "UTF-8";

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    background-color: papayawhip;

}

h1, h2{
    font-family: 'Times New Roman', Times, serif;
}
